<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>719061856282-fua7el9282i11s15h2imgos3b627ptog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719061856282-fua7el9282i11s15h2imgos3b627ptog</string>
	<key>API_KEY</key>
	<string>AIzaSyDPCWFDnoxHDkPQnsWqb0M9hl6t4pv7ADA</string>
	<key>GCM_SENDER_ID</key>
	<string>719061856282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.givdapps.GivDapps</string>
	<key>PROJECT_ID</key>
	<string>givdappsfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>givdappsfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:719061856282:ios:4852d3255e384fbc</string>
	<key>DATABASE_URL</key>
	<string>https://givdappsfirebase.firebaseio.com</string>
</dict>
</plist>